/* CSS Document */
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
*:focus {
	outline: none;
}
body{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

a{
	text-decoration: none;
}
a[href="###"] {
	pointer-events: none;
}
html,body{
    width: 100%;
	height: 100%;
}
html{
	/*font-size: 10px;*/
	overflow-y: hidden;
}
input, select {
    vertical-align:middle;
    text-underline: 0;
    outline: 0;
    box-shadow: 0;
}
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	-ms-progress-appearance: none;
}

.wrap{
	width: 100%;
	height: 100%;
	background: #ebeeff;
	position: relative;
	padding-top: 10px;
}
.hb{
	width: 65%;
	height: 63%;
	margin: auto;
	position: relative;
}
.head{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: yellow;
	position: absolute;
	left: 50%;
	margin-left: -32.5px;
	z-index: 10;
	overflow: hidden;
}
.content img:nth-child(1){
	width: 80%;
	margin: 0 auto;
	display: block;
}
.hongb img:nth-child(1){
	width: 80%;
}
.head img:nth-child(1){
	width: 100%;
}
.hongb{
	width: 100%;
	position: absolute;
	left: 0;
	top: 42px;
}
.inbi{
	width: 100%;
    position: absolute;
    top: 105px;
    text-align: center;
    font-size: 34px;
    color: #fff;
    font-weight: bolder;
}
.xiangin{
    width: 100%;
	position: absolute;
    top: 170px;
    text-align: center;
    color: #f46868;
    line-height: 32px;
}
.xiangin p:nth-child(1){
	font-size: 20px;
	font-weight: 100;
}
.xiangin p:nth-child(2){
	font-size: 22px;
	font-weight: bolder;
}
.content{
	width: 100%;
	height: 100%;
	position: relative;
}
.accept{
	width: 76%;
	margin: 0 auto;
}
.accepta{
	width: 100%;
	padding: 12px 0;
	font-size: 20px;
	color: #FFFFFF;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	background-color: #f46868;
	box-shadow: 1px 1px 3px #dd5550;
}
footer{
	width: 95%;
	background: rgba(151,169,255,.8);
	padding: 3%;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: 9999;
}
footer img{
	width: 13.6%;
	margin-right: 2%;
	float: left;
}

.footer_in{
	float: left;
	position: relative;
	top: -2px;
}
.footer_in p:nth-child(1){
	font-size: 18px;
	color: #fff;
}
.footer_in p:nth-child(2){
	font-size: 14px;
	color: #fff;
}
.nowdown{
	float: right;
	font-size: 14px;
	padding: 8px 3%;
	color: #fff;
	border: 1px solid #FFFFFF;
	border-radius: 21px;
	text-align: center;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.hmask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.hmask_content{
	width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -40%;
    margin-top: -20%;
}
.insetphone{
	width: 88%;
	padding: 10px 6%;
	margin-top: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 14px;
}
.insetnum{
	width: 46%;
	padding: 10px 6%;
	margin-right: 2%;
	border-radius: 20px;
	border: 1px solid #ccc;
	font-size: 14px;
}
.insetall{
	width: 90%;
	margin: 10px auto;
}
.getnum{
	width: 39%;
	background-color: #f46868;
	padding: 10px 5%;
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 14px;
}
.mask_content{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	margin-top: -30%;
}
.mask_close{
	overflow: hidden;
}
.mclose{
	float: right;
    margin-right: 20px;
}
.close_x{
	width: 26px;
	height: 26px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: relative;
}
.close_x img{
	width: 60%;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -30%;
}
.close_xx{
	height: 20px;
	border-left: 1px solid #FFFFFF;   
	position: relative;
    left: 13px;
}
.maskf{
	width: 100%;
}
.maskftop{
	width: 100%;
	background-color: #FFFFFF;
	padding: 35px 0 20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}
.maskfbottom{
	padding: 10px 0;
	background-color: #f46868;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}
.down_main{
	width: 100%;
	height: 100%;	
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/downbg.jpg);
	background-size: contain;
	text-align: center;
	padding-top: 30px;
	display: none;
	z-index: 11;
}
.down_main img{
	width: 100px;
	margin: 10px auto;
}
.down_top{
	margin-top: 10px;
	margin-bottom: 38px;
}
.down_top p,.down_bottom p{
	width: 42.6666%;
	margin: 0 auto;
	padding: 12px 20px;
	background-color: #36daff;
	border-radius: 20px;
	font-size: 16px;
	color: #FFFFFF;
}
.down_center{
	margin: 20px auto;
}
.down_center img{
	width: 60%;
}
.down_bottom p{
	background-color: #ff5f6f;
}


@media only screen and (min-width: 375px) {
	.inbi{
		top: 128px;
	}	
	.xiangin{
		top: 204px;
	}
}
@media only screen and (min-width: 360px) {
	.inbi{
		top: 118px;
	}	
	.xiangin{
		top: 198px;
	}
}

@media only screen and (min-width: 412px) {
	.inbi{
		top: 140px;
		font-size: 38px;
	}	
	.xiangin{
		top: 230px;
	}
	.xiangin p:nth-child(1){
		font-size: 22px;
	}
	.xiangin p:nth-child(2){
		font-size: 28px;
	}
}
@media only screen and (min-width: 600px) {
	.inbi{
		top: 204px;
		font-size: 52px;
	}	
	.xiangin{
		top: 330px;
		line-height: 60px;
	}
	.xiangin p:nth-child(1){
		font-size: 30px;
	}
	.xiangin p:nth-child(2){
		font-size: 36px;
	}
	.accepta {
	    padding: 27px 0;
	    font-size: 32px;
	    border-radius: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 800px) {
	.content img:nth-child(1){
		width: 74%;
	}
	.hongb img:nth-child(1) {
	    width: 60%;
	}
	.xiangin{
		top: 312px;
		line-height: 56px;
	}
	.xiangin p:nth-child(1) {
	    font-size: 30px;
	}
	.xiangin p:nth-child(2) {
	    font-size: 36px;
	}
	.inbi{
		top: 190px;
		font-size: 54px;
	}
	.footer_in p:nth-child(1){
		font-size: 36px;
	}
	.footer_in p:nth-child(2){
		font-size: 28px;
	}
	.footer_in{
		line-height: 42px;
	}
	.nowdown{
		font-size: 32px;
		border-radius: 46px;
		padding: 20px 6%;
	}
	.head{
		width: 144px;
		height: 144px;
		margin-left: -72px;
	}
	.hongb{
		top: 116px;
	}
	.accept{
		width: 70%;
	}
	.accepta{
		padding: 16px 0;
		border-radius: 40px;
		font-size: 34px;
	}
	footer img{
		width: 11.6%;
	}
	.maskftop{
		font-size: 24px;
		line-height: 36px;
	}
	.insetphone,.insetnum,.getnum{
		font-size: 24px;
		border-radius: 36px;
		padding: 20px 6%;
	}
	.maskfbottom{
		padding: 20px 6%;
		font-size: 30px;
	}
	.close_x{
		width: 60px;
		height: 60px;
	}
	.close_xx{
		left: 30px;
		height: 40px;
	}
	.hmask_content{
		margin-top: -10%;
	}
}